<!-- -*- mode: XML -*- -->
<launch>

    ################ map server ################
    <node pkg="map_server" name="map_server" type="map_server" args="$(find astar_search)/maps/gmapping-005.yaml"/>

    ################ start astar node ################
    <node pkg="astar_search" type="astar_search" name="astar" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0.25"/>
        <param name="rate" value="10"/>
    </node>
[map_server-2] killing on exit

    ################ start rviz ################
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find astar_search)/rviz/astar.rviz"/>


</launch>
